{% extends 'apartments/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href={% static "/hotel_description.css"%}>
{% endblock %}

{% block content %}
  <div class="image_5"></div>
    <span  class="junior_suite">JUNIOR SUITE</span>
    <div class=description>
      <span  class="title_description">Beds and Bedding</span>
      <span  class="second_description">
            Максимальное размещение: 3
            <br>
            1 двуспальная кровать
            <br>
            Диван-кровать
            <br>
            Разрешены раскладные кровати: 1 — 50 долларов США за ночь.
            <br>
            Разрешены детские кроватки: 1
            <br>
            Максимальное количество детских кроваток/раскладных кроватей: 1.
            <br>
            Матрас с наволочкой и пуховое одеяло.
        </span>
        <span  class="main_description">Полулюкс, 1 большая двуспальная кровать, Диван-кровать, Мини-холодильник,<br> 59 кв.м., Гостиная/зона отдыха, Беспроводной доступ в Интернет (платно), Проводной доступ в Интернет (платно), Кофеварка/чайник</span>
        <span  class="price">17,388₽</span>
      </div>
{% endblock %}





