<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <link rel="stylesheet" href="static/hotel_application.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JUNIOR SUITE</title>
	</head>
  <div class=basket>
  <div class=header>
    <div class="header_box"></div>
    <!-- <span  class="header_name">MARRIOT</span> -->
    <a class="nav-link" href="hotel_menu.html"><span  class="header_name">MARRIOT</span></a>
  </div>
  <!-- <span  class="back_button">< Назад</span> -->
  <a class="nav-link" href="hotel_menu.html"><span  class="back_button">< Назад</span></a>
  <span  class="main_header">Текущие заявки </span>
  <div class=mid_card>
    <div class="card_box"></div>
    <div class=card_box_description>
      <div class=image_box>
        <div class="rectangle_8"></div>
        <div class="image"></div>
      </div>
      <div class=button>
        <div class="rectangle_9"></div><span  class="text_button">Подробнее</span>
      </div><span  class="description">DisneylandTrip</span>
    </div>
  </div>

  <div class=top_card>
    <div class="card_box"></div>
    <div class=card_box_description>
      <div class=image_box>
        <div class="rectangle_8"></div>
        <div class="image_3"></div>
      </div>
      <span  class="description">STUDIO SUITE</span>
      <div class=button>
        <a class="nav-link" href="index.html">
          <div class="rectangle_9"></div>
          <span  class="text_button">Подробнее</span>
        </a>
        <!-- <div class="rectangle_9"></div><span  class="text_button">Подробнее</span> -->
      </div>
    </div>
  </div>

  <div class=bottom_card>
    <div class="card_box"></div>
    <div class=card_box_description>
      <div class=image_box>
        <div class="rectangle_8"></div>
        <div class="image_8"></div>
      </div>
      <div class=button>
        <div class="rectangle_9"></div><span  class="text_button">Подробнее</span>
      </div><span  class="description">Breakfast in room</span>
    </div>
  </div>
</div>
</html>