<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <link rel="stylesheet" href="static/index2.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JUNIOR SUITE</title>
	</head>
  <div class=description_page>
    <div class=header>
      <div class="header_box"></div>
      <span  class="header_name">MARRIOT</span>
      <a class="nav-link" href="index1.html"><span  class="header_name">MARRIOT</span></a>
    </div>
    <div class="image_5"></div>
    <span  class="junior_suite">JUNIOR SUITE</span>
    <div class=description>
      <span  class="title_description">Beds and Bedding</span>
      <span  class="second_description">
            Максимальное размещение: 3
            <br>
            1 двуспальная кровать
            <br>
            Диван-кровать
            <br>
            Разрешены раскладные кровати: 1 — 50 долларов США за ночь.
            <br>
            Разрешены детские кроватки: 1
            <br>
            Максимальное количество детских кроваток/раскладных кроватей: 1.
            <br>
            Матрас с наволочкой и пуховое одеяло.
        </span>
        <span  class="main_description">Полулюкс, 1 большая двуспальная кровать, Диван-кровать, Мини-холодильник,<br> 59 кв.м., Гостиная/зона отдыха, Беспроводной доступ в Интернет (платно), Проводной доступ в Интернет (платно), Кофеварка/чайник</span>
        <span  class="price">17,388₽</span>
      </div>
    <!-- <span  class="back_button">
       Назад</span> -->
    <a class="nav-link" href="index4.html"><span  class="back_button">< Назад</span></a>
  </div>
</html>