{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <link rel="stylesheet" href="static/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>MARRIOT</title>
	</head>
<div class=main_page>
  <div class=header>
    <div class="header_box"></div>
    <!-- <span  class="header_name">MARRIOT</span> -->
    <!-- <a class="header_name" href="index.html">MARRIOT</a> -->
    <a class="nav-link" href="index1.html"><span  class="header_name">MARRIOT</span></a>
  </div>
  <div class=field_search>
    <input type="text" class="search" placeholder="Поиск">
      <div class="main_search">
      <img src="static/images/search.svg" class="search_sign">
     </div>
    <!-- <div class=basket>
      <img src="./images/basket.svg" class="basket_sign"> -->
      <div class="basket">
            <a class="nav-link" href="index4.html"><img src="static/images/basket.svg" class="basket_sign"></img> </a>
      </div>
    </div>
  </div>
  </div><span  class="text_apartments">Апартаменты & услуги</span>
  <div class=apartments>
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image_1"></div>
      <div class=cards_text><span  class="text_header">GRIFFIN SUITE</span><span  class="text_description">1 Bedroom Suite, 1 King, Sofa bed</span></div>
      <div class="card_buttons">
        <div class=top_cards_button>
          <a class="nav-link" href="index.html">
            <div class="rectangle_6"></div>
            <span  class="text_button">Подробнее</span>
          </a>
          <!-- <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span> -->
        </div>
        <!-- <div class=top_cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
      </div>
    </div>
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image_3"></div>
      <div class=cards_text><span  class="text_header">STUDIO SUITE</span><span  class="text_description">1 King, Sofa bed</span></div>
      <div class="card_buttons">
        <div class=top_cards_button>
          <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span>
        </div>
        <!-- <div class=top_cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
      </div>
    </div>
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image_2"></div>
      <div class=cards_text><span  class="text_header">JUNIOR SUITE</span><span  class="text_description">1 King, Sofa bed</span></div>
      <div class="card_buttons">
        <div class=top_cards_button>
          <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span>
        </div>
        <!-- <div class=top_cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
      </div>
    </div>
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image_2"></div>
      <div class=cards_text><span  class="text_header">JUNIOR SUITE</span><span  class="text_description">1 King, Sofa bed</span></div>
      <div class="card_buttons">
        <div class=top_cards_button>
          <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span>
        </div>
        <!-- <div class=top_cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
      </div>
    </div>
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image_4"></div>
      <div class=cards_text><span  class="text_header">Breakfast in room</span><span  class="text_description">Восхитительный завтрак по утрам</span></div>
      <div class="card_buttons">
        <div class=cards_button>
          <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span>
        </div>
        <!-- <div class=cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
      </div>
      <!-- <div class=cards_button>
        <div class="rectangle_6"></div><span  class="text_button">Подробнее</span>
      </div> -->
    </div>
  <!-- </div><span  class="text_service">Услуги</span>
  <div class=service> -->
    <div class=top_left>
      <div class="top_cards_bg"></div>
      <div class="image"></div>
      <div class=cards_text><span  class="text_header">Disneyland trip</span><span  class="text_description">Парк-развлечений для всей семьи</span></div>
      <div class="card_buttons">
        <div class=cards_button>
          <div class="rectangle_6"></div>
          <span  class="text_button">Подробнее</span>
        </div>
        <!-- <div class=cards_button2>
          <div class="rectangle_6"></div>
          <span  class="text_button2">Забронировать</span>
        </div> -->
    </div>
</div>
</html>