.basket { 
	background-color:rgba(255, 255, 255, 1);
	width:1480px;
	height:982px;
	position:absolute;
}
.bottom_card { 
	width:1200px;
	height:180px;
	position:absolute;
	left:156px;
	top:702px;
}
.card_box { 
	/* background-color:rgba(255, 255, 255, 1); */
	width:1200px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
  background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.card_box_description { 
	width:1105px;
	height:148px;
	position:absolute;
	left:21px;
	top:16px;
}
.image_box { 
	width:202px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
}
.rectangle_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:202px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.image_8 { 
	width:202px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.button { 
	width:151px;
	height:47px;
	position:absolute;
	left:954px;
	top:57px;
}
.rectangle_9 { 
	background-color:rgba(254.00000005960464, 169.00000512599945, 169.00000512599945, 1);
	width:151px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.text_button { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:24px;
	position:absolute;
	left:22px;
	top:10px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.breakfast_in_room { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:29px;
	position:absolute;
	left:253px;
	top:59px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.mid_card { 
	width:1200px;
	height:180px;
	position:absolute;
	left:156px;
	top:294px;
}
.image { 
	width:202px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.image_3 { 
	width:202px;
	height:148px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.description { 
	color:rgba(0, 0, 0, 1);
	width:555px;
	height:29px;
	position:absolute;
	left:253px;
	top:59px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.top_card { 
	width:1200px;
	height:180px;
	position:absolute;
	left:156px;
	top:498px;
}
.back_button { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:100px;
	top:210px;
	font-family:Inria Serif;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.main_header { 
	color:rgba(0, 0, 0, 1);
	width:273px;
	height:38px;
	position:absolute;
	left:608px;
	top:203px;
	font-family:Inria Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.header { 
	width:1480px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.header_box { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1480px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.header_name { 
	color:rgba(0, 0, 0, 1);
	width:272px;
	height:87px;
	position:absolute;
	left:609px;
	top:63px;
	font-family:Inria Serif;
	text-align:left;
	font-size:56px;
	letter-spacing:0;
}
