.description_page { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.header { 
	width:1512px;
	height:150px;
	position:absolute;
	left:0px;
	top:-3px;
}
.header_box { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1512px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.header_name { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:86.79244995117188px;
	position:absolute;
	left:635px;
	top:63.20754623413086px;
	font-family:Inria Serif;
	text-align:left;
	font-size:56px;
	letter-spacing:0;
}
.image_5 { 
	width:720px;
	height:404px;
	position:absolute;
	left:100px;
	top:278px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-image:url(images/des_image.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.junior_suite { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:38px;
	position:absolute;
	left:653px;
	top:202px;
	font-family:Inria Serif;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.description { 
	width:547px;
	height:361px;
	position:absolute;
	left:883px;
	top:301px;
}
.title_description { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:29px;
	position:absolute;
	left:178px;
	top:107px;
	font-family:Inria Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.second_description { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:133px;
	position:absolute;
	left:1px;
	top:152px;
	font-family:Inria Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.main_description { 
	color:rgba(0, 0, 0, 1);
	width:543px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inria Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.price { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:24px;
	position:absolute;
	left:239px;
	top:337px;
	font-family:Inria Serif;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.back_button { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:24px;
	position:absolute;
	left:100px;
	top:213px;
	font-family:Inria Serif;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
  text-decoration: underline;
}
